/* Breakpoints---------------
x Small
Small
Medium
Extra Large
Extra Extra Large
*/

.child{
  border: 5px solid var(--bs-blue);
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}